:root {
    --pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Typographies*/
h1,h2,p {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3rem;
    line-height: 1.3;
    color: var(--dark-cyan);
    max-width: 600px;
}

h2 {
    font-size: 2rem;
    color: var(--dark-cyan);
}

p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--grayish-blue);
}
/*Image size to make it responsize, shrink when resized*/
img {
    max-width: 100%;
}

/*Header*/
header {
    background-image: url(../images/bg-hero-desktop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-cyan);
}

.hero {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 3em 1em;
}

.hero-left {
    text-align: left;
    margin-right: 60px;
}

.hero-left-content {
    margin-top: 150px;
}

.hero-text {
    color: var(--dark-cyan);
    padding: 30px 0px;
    max-width: 900px;
}

.hero-right-content {

}